.heroImg {
  width: 92%;
  height: 45vh;
}

.home {
  width: 100%;
}

.textContainer {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  margin-inline: auto;
  padding-block: 4rem;
}

.textContainer > h2 {
  font-size: 2.62rem;
  letter-spacing: 0.02rem;
  line-height: 3.2rem;
  color: #004744;
  font-weight: bold;
}

.textContainer > p {
  font-size: 1rem;
  line-height: 1.62rem;
  padding-bottom: 0.5rem;
  color: #5c5c5c;
}

.cards_container {
  background-color: #efefef;
  width: 92%;
  padding-block: 2rem;
}

.cards_container > h2 {
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02rem;
  line-height: 2.65rem;
  color: #004744;
}

.span_nextPage {
  color: #b72abf;
  font-size: 0.87rem;
  line-height: 1.35rem;
  font-weight: bold;
}

.cards {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline: auto;
  /* gap: 15rem; */
}

.card_img {
  width: 100%;
  height: 200px;
  position: relative;
}

.card {
  /* border: 2px solid black; */
  padding-inline: 2.5rem;
  position: relative;
  padding-block: 1rem;
  margin-block: 1rem;
  /* animation */
  opacity: 0;
  /* animation: fadeIn 2s ease-in-out; 
  animation-fill-mode: forwards; */
}

.card.card-visible {
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card::after {
  content: "";
  color: #5c5c5c;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 90%;
  transform: translateY(8%);
  border-right: 1px solid rgba(92, 92, 92, 0.2);
}

.card > h2 {
  overflow: hidden;
  font-family: Arial Bold, Helvetica Bold, sans-serif;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 1.1rem;
}

.card > ul {
  list-style: none;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.card > ul > li {
  color: #b72abf;
  font-size: 0.75rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1rem;
  text-transform: uppercase;
  padding-inline: 0.25rem;
  position: relative;
}

.card > ul > li::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  border-right: 1px solid #5c5c5c;
}
.card > ul > li:last-child {
  color: #5c5c5c;
}
.card > ul > li:last-child::after {
  display: none;
}
.third::after {
  display: none;
}
/* .first::after{
  display: none;
} */

.card_imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.overlay {
  width: 100%;
  height: 200px;
  top:0%;
  left: 0%;
  position: absolute;
  background-color: rgba(183, 42, 191, 0);
  z-index: 99;
}

.overlay:hover {
  cursor: pointer;
  background-color: rgba(183, 42, 191, 0.7); 
}

.play_btn{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.btn_container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 2.5rem;
}

.btn_container>button{
  border: 1px solid #b72abf;
  color: #b72abf;
  padding-inline:1rem;
  padding-block: .5rem;
  border-radius: .25rem;
  font-weight: bold;
}

.btn_container>button:hover{
  cursor: pointer;
  background-color: #b72abf;
  color: white;
}
@media (max-width: 1021px) {
  .textContainer > h2 {
    font-size: 2.62rem;
    line-height: 3.75rem;
    margin-bottom: 3rem;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .textContainer > h2 {
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    line-height: 2.68rem;
    color: #004744;
    margin-bottom: 1.5rem;
  }
  .textContainer{
    width: 90%;
    padding-block: 1rem;
  }
  .textContainer>p{
    font-size: .75rem;
    line-height: 1rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card{
    padding-inline:0px;
  }
  .card::after {
    border-right: none;
    border-bottom: 1px solid rgba(92, 92, 92, 0.2);
    width: 100%;
    /* transform: translateX(-10%) translateY(10%); */
  }
  .third::after {
    display: block;
  }
}

/* .card-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.card-animation.card-visible {
  opacity: 1;
  transform: translateY(0);
} */
